<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Dseventeen">Dan Vega</a>. Dan is a web development student looking to make the world a better place through technology.
  </p>
  <br />
  <p>
    After managing customer support and customer success teams at startups in the Bay Area, Dan decided that he wanted to gain the knowledge to actually fix the issues users were experiencing. He decided to enroll in the UC Berkley extensions coding boot camp to gain the skills to help users more effectively. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dan_vineyard.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dan Vega</h2>
      <br />
      <p>
        Dan Vega is an East Bay Area native. After earning a B.S. in Kinesiology with a concentration in Athletic Training from The George Washington University in Washington, D.C., Dan decided to come back to the bay area. After earning his M.A. in Kinesiology with a concentration in Athletic Training from San José State University, Dan made a career shift and began working at startups in the Bay Area. After managing support and success teams, Dan saw the need to learn web development to better serve customers. Dan is currently a student at the UC Berkeley Extensions coding Boot Camp, and resides in the Napa Valley. 
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>